@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-primary: 'Inter', sans-serif;
    --theme-primary: #6366f1;
}

body {
    font-family: var(--font-primary);
    background-color: #f8fafc;
    /* Slate 50 */
    color: #1e293b;
    /* Slate 800 */
}